.forms > div {
	color:#000;
}

/* * {
	border: 1px solid red;
} */

.importance {
	background-color: rgb(83, 168, 57);
}

.importance-0 {
	background-color: rgb(167, 49, 2);
}

.importance-1 {
	background-color: rgb(167, 49, 2);
}

.importance-2 {
	background-color: rgb(179, 97, 20);
}

.importance-3 {
	background-color: rgb(106, 49, 129);
}
  
.importance-4 {
	background-color: rgb(40, 75, 190);
}

@media (min-width: 576px) {
	.forms {
		width: 400px;
	}
}