/* * {
	outline: 1px solid red;
} */

.forms > div {
	color:#000;
}

.importance {
	background-color: rgb(83, 168, 57);
}

.importance-0 {
	background-color: rgb(167, 49, 2);
}

.importance-1 {
	background-color: rgb(167, 49, 2);
}

.importance-2 {
	background-color: rgb(179, 97, 20);
}

.importance-3 {
	background-color: rgb(106, 49, 129);
}
  
.importance-4 {
	background-color: rgb(40, 75, 190);
}

.settings-gear {
	transition: transform .4s ease-in-out;
}

.settings-gear:hover {
	transform: rotateZ(15deg);
}

.custom-spacer {
	height: 100%;
	border-right: 1px solid rgb(61,61,61);
}

.form-switch .form-check-input[type=checkbox] {
    border-radius: 2em;
    height: 25px;
    width: 50px;
}

@media (max-width: 575px) {
	.list-inline {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.list-group-item {
		width: 80%;
		display: flex;
		justify-content: center;
	}
	.custom-input-container {
		padding-left: 2.5em;
		margin: 0;
		display: flex;
		justify-content: center;
	}
}

@media (min-width: 577px) {
	.forms {
		width: 400px;
	}
	
}

