.App {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
}

.App h2 {
  text-align: left;
}

.forms {
  margin-top: 20px;
  width: 40%;
}

.perfect-match {
  color: green;
}

.partial-match {
  color: orange;
}

.no-matches {
  color: red;
}