html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
  padding: 0;
  border: 0;
  /* border: 1px solid red; */
  font-size: 100%;
	font: inherit;
    vertical-align: baseline;
    text-decoration: none;
}

.App {
  font-family: 'Roboto', sans-serif;
}

.nav-container {
  display: flex;
  justify-content: center;
  height: 60px;
  background-color: black;
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 500px;
}

.nav-links a {
  width: 30%;
  padding: 13px;
  font-size: 16px;
  color: white;
  border: 3px solid black;
}

.nav-links a:hover {
  border: 3px solid white;
}

.nav-links span {
  height: 30px;
  border: 1px solid white;
}

.engraving-search-component {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
}

.engraving-search-component h2 {
  text-align: left;
}

.forms {
  margin-top: 20px;
  width: 40%;
}

.results {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.results h2 {
  font-size: 28px;
  font-weight: bold;
  margin: 20px;
}

.results h3 {
  font-size: 20px;
  font-weight: 700;
  margin: 12px;
}

.perfect-match-engraving {
  color: rgb(43, 43, 43);
  text-decoration: underline;
}

.perfect-match {
  color: rgb(0, 126, 0);
  font-size: 24px;
  font-weight: 700;
  /* margin: 12px; */
}

.partial-match {
  color: rgb(255, 123, 0);
  text-decoration: underline;
}

.no-matches {
  color: red;
}

.builds-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}



.builds-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.build-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 10px;
  background-color: aliceblue;
  border-radius: 5px;
}

.build-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;
  height: 50px;
  margin-left: 5px;
}

.build-info-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
}

.build-container h2 {
  font-size: 25px;
  font-weight: bold;
}

.build-stats {
  font-size: 17px;
  font-weight: 500;
}

.save-build-button {
  margin-right: 10px;
  width: 60px;
  height: 25px;
}

.engravings-list {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

.engravings-list h3 {
  font-size: 20px;
  font-weight: 700;
  margin: 12px;
  min-width: 250px;
}

.saved-builds {
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.saved-builds h2 {
  font-size: 20px;
  font-weight: 600;
}

.saved-builds h3 {
  font-size: 15px;
  font-weight: 500;
  margin: 5px;
}

.saved-build-container {
  display: flex;
  flex-flow: row wrap;
  margin: 10px;
  background-color: rgb(198, 210, 218);
  padding: 15px;
}

.saved-build {
  /* margin: 10px; */
}

.remove-build-button {
  height: 25px;
  width: 25px;
  margin-left: 5px;
}

.top-engravings-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-engravings-container h1 {
  font-size: 28px;
  font-weight: 700;
  margin-top: 10px;
}

.top-engravings-container h2 {
  font-size: 20px;
  font-weight: 700;
  margin-top: 10px;
}

.prio-0 {
  background-color: rgba(32, 163, 32, 0.781);
}

.prio-1 {
  background-color: rgba(84, 163, 32, 0.781);
}

.prio-2 {
  background-color: rgba(113, 163, 32, 0.781);
}

.prio-3 {
  background-color: rgba(139, 163, 32, 0.781);
}

.prio-4 {
  background-color: rgba(161, 163, 32, 0.781);
}

.prio-5 {
  background-color: rgba(163, 143, 32, 0.781);
}

.prio-6 {
  background-color: rgba(163, 128, 32, 0.781);
}

.prio-7 {
  background-color: rgba(163, 106, 32, 0.781);
}

.prio-8 {
  background-color: rgba(172, 58, 23, 0.781);
}

.importance-0 {
  color: rgb(219, 64, 3);
  border: 2px solid rgb(219, 64, 3);
  border-radius: 10px;
  padding: 3px;
  box-shadow: 0px 0px 20px 2px rgb(219, 64, 3);
}

.importance-1 {
  color: rgb(219, 64, 3);
  border: 2px solid rgb(219, 64, 3);
  border-radius: 10px;
  padding: 5px;
  box-shadow: 0px 0px 20px 2px rgb(219, 64, 3);
}

.importance-2 {
  color: rgb(255, 102, 0);
  border: 2px solid rgba(255, 115, 0, 0.788);
  border-radius: 10px;
  padding: 4px;
  box-shadow: 0px 0px 20px 2px rgb(219, 64, 3);
}

.importance-3 {
  color: rgb(108, 0, 134);
  border: 2px solid rgb(108, 0, 134);
  border-radius: 10px;
  padding: 4px;
  box-shadow: 0px 0px 20px 2px rgb(108, 0, 134);
}

.importance-4 {
  color: rgb(0, 41, 177);
  border: 2px solid rgb(0, 41, 177);
  border-radius: 10px;
  padding: 4px;
  box-shadow: 0px 0px 20px 2px rgb(0, 41, 177);
}

.importance-5 {
  color: rgb(36, 156, 0);
  border: 2px solid rgb(42, 180, 0);
  border-radius: 10px;
  padding: 4px;
  box-shadow: 0px 0px 20px 2px rgb(42, 180, 0);
}

.importance-6 {
  color: rgba(163, 128, 32, 0.781);
}

.importance-7 {
  color: rgba(163, 106, 32, 0.781);
}

.importance-8 {
  color: rgba(172, 58, 23, 0.781);
}

.note {
  font-size: 20px;
  font-weight: 700;
  margin-top: 10px;
}